@model AspNews.Models.cjl.RankDb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RankDb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankDescribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankDescribed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RankID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
