@model AspNews.Models.cjl.NewsDb

@{
    ViewBag.Title = "Delete";
}

<h2>新闻删除</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NewsDelete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RankID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RankID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsDescribed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsDescribed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsWriter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsWriter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsKeywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReadingNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReadingNum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
