@model IEnumerable<AspNews.Models.cjl.NewsDb>
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="thisbody" style="background: #f5f5f5; background-repeat: repeat; height:auto">

    <link href="~/Scripts/css/home.css" rel="stylesheet" type="text/css" />
    <div class="allcontent">
        <div class="mycontent">
            <!--轮播图-->
            <div class="banner">
                <ul class="img">
                    @for(var i = 0;i < 7; i++)
                    {
                        var length = 30+600*i;
                        var strlength = length.ToString() + "px";
                        <li>
                            <a href="/XGJNewsContent/Index/@ViewBag.NewsMains[i].NewsId">
                            <img src="~/@ViewBag.NewsMains[i].ImageURL"/>
                            <span class="newsTitle" style="left: @strlength">@ViewBag.NewsMains[i].NewsTitle</span>
                            </a>
                        </li>
                    }

                </ul>
                <ul class="num">
                </ul>
                <div class="btn btn_l">&lt;</div>
                <div class="btn btn_r">&gt;</div>
            </div>
            <div class="news">

                <a class="firstA" href="/XGJNewsContent/Index/@ViewBag.NewsMains[0].NewsId" />@ViewBag.NewsMains[0].NewsTitle</a>
                <br>
                @for (int i = 1; i < 8; i++)
                {
                    <a href="/XGJNewsContent/Index/@ViewBag.NewsMains[i].NewsId">@ViewBag.NewsMains[i].NewsTitle</a>
                    <br>
                }

            </div>
        </div>
    </div>

    <hr>

    <div class="mainContent" id="mainContent">
        <div style="font-size:40px;font-weight:200;"><span>新闻速递</span></div>
        <div class="con">
            <ul class="newsList">
                @foreach (var item in Model)
                {
                    <li class="xxxmylist">
                        <div class="image">
                            <a href="/XGJNewsContent/Index/@item.NewsId">

                                <img src="~/@item.ImageURL" />
                            </a>
                        </div>
                        <div class="text-con">

                            <h3 class="title"><a target="_blank" href="/XGJNewsContent/Index/@item.NewsId">@item.NewsTitle</a></h3>
                            <p class="brief">
                                <a href="/XGJNewsContent/Index/@item.NewsId" target="_blank">
                                    @item.NewsDescribed
                                </a>
                            </p>
                            <div class="bottom1">
                                <span class="date">@item.ReleaseTime</span>
                                <span class="keywords">@item.NewsKeywords.Replace(',', ' ')</span>
                            </div>
                        </div>
                    </li>

                }

            </ul>

        </div>
    </div>

    <a href="#" id="back-to-top" title="回到顶部"><img src="~/Image/XGJImages/rockets.png"></a>
    <script src="~/Scripts/home.js">
    </script>
    <script>

        $(".xxxmylist").mouseenter(function () {
            $(this).css("background-color", "#F8F8FF");
        });



        $(".xxxmylist").mouseleave(function () {
            $(this).css("background-color", "#ffffff");
        });


    </script>
</div>



<div class="thisbody" style="        background: #f5f5f5;
        background-repeat: repeat;
        height: 100px
"></div>