
@{
    ViewBag.Title = "InitNews";
}

<h5>初始化完毕，News.mdf中所有数据已经删除，并自动添加了以下初始数据</h5>
<p>RightDb:添加了 @ViewBag.Count1 条初始数据</p>
<p>UserDb:添加了 @ViewBag.Count2 条初始数据</p>
<p>RankDb:添加了 @ViewBag.Count3 条初始数据</p>
<p>CommentDb:添加了 @ViewBag.Count4 条初始数据</p>
<p>TypeDb:添加了 @ViewBag.Count5 条初始数据</p>
<p>NewsDb:添加了 @ViewBag.Count6 条初始数据</p>
