@model AspNews.Models.cjl.NewsDb
@{ var ajaxOptions = (AjaxOptions)TempData["AjaxOptions"];
}
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<title>新闻详情</title>
<link href="~/Scripts/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/news.css">
<link href="~/Scripts/css/mycss.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<body style=" background: #f5f5f5; background-repeat: repeat; ">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                    <img style="height:50px" src="~/Image/Logo/logonews.png" alt="Alternate Text" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="xxxxmore">更多</a></li>
                    @if (Session["LoginUser"] == null)
                    {
                        <li>@Html.ActionLink("登录/注册", "Login", "LBAccount")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("注销", "OutLogin", "LBAccount")</li>
                        <li><a>欢迎 @Session["LoginUser"]</a></li>

                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="mybox" style="display:none;border-color:#f5f5f5;border-style:solid;position: fixed; width: 240px; height: 260px; background-color: #ffffff; z-index: 998;">

        <table class="mytable">
            <tr>
                <td style="padding-left:50px;padding-right:40px;padding-bottom:30px; padding-top:30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>

                    @Html.ActionLink("社会", "Index", "LSHnews", new { area = "", id = "1" }, new { })

                </td>
                <td style="padding-right:40px;padding-bottom:30px;padding-top:30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>

                    @Html.ActionLink("法治", "Index", "LSHnews", new { area = "", id = "2" }, new { })
                </td>
            </tr>
            <tr>
                <td style="padding-left: 50px; padding-right: 40px; padding-bottom: 30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("军事", "Index", "LSHnews", new { area = "", id = "6" }, new { })

                </td>
                <td style="padding-right:40px;padding-bottom:30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("娱乐", "Index", "LSHnews", new { area = "", id = "7" }, new { })

                </td>
            </tr>
            <tr>

                <td style="padding-left: 50px; padding-right: 40px; padding-bottom: 30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("科技", "Index", "LSHnews", new { area = "", id = "3" }, new { })

                </td>
                <td style="padding-right:40px;padding-bottom:30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("生活", "Index", "LSHnews", new { area = "", id = "4" }, new { })

                </td>
            </tr>
            <tr>
                <td style="padding-left: 50px; padding-right: 40px; padding-bottom: 30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("人物", "Index", "LSHnews", new { area = "", id = "5" }, new { })

                </td>
                <td style="padding-right:40px;padding-bottom:30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("国际", "Index", "LSHnews", new { area = "", id = "8" }, new { })

                </td>
            </tr>
            <tr>
                <td style="padding-left: 50px; padding-right: 40px; padding-bottom: 30px;">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    @Html.ActionLink("教育", "Index", "LSHnews", new { area = "", id = "9" }, new { })

                </td>

            </tr>
        </table>


    </div>
    <div class="container-fluid body-content">
        <div id="page">
            <div class="newsContent" style=" margin-top: 0px;width:80%">
                <div class="main">
                    <div class="link" style="text-align: left;padding-left: 28px;margin-bottom: 40px">
                        <i style="vertical-align: middle; display: inline-block; width: 30px; height:20px; background: #e14040; margin-right: 30px;"></i>
                        <a style="color: #666666; font-size: 20px; height: 20px; line-height: 14px; display: inline-block;" href="/Home/Index">首页</a> >
                        <a style="color: #666666; font-size: 20px; height: 20px; line-height: 14px; display: inline-block; " href="/LSHnews/Index/@Model.TypeDb.TypeID">@Model.TypeDb.TypeName</a>
                    </div>
                    <h1 style="font-family: 微软雅黑;font-size: 30px;font-weight: normal;color: #333333">@Model.NewsTitle</h1>

                    <hr style="margin: 20px 0">
                    <div class="link" style="text-align: left;
        padding-left: 28px;
        margin-bottom: 40px;
        color: #a7a7a7;
        font-size: 14px;
">
                        <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">发布时间:@Model.ReleaseTime | 阅读量:@Model.ReadingNum</span>
                        <a class="page-btn" href="javascript:void(0)"> 导出 </a>
                    </div>

                    <img style="width: 100%;height:auto" src="~/@Model.ImageURL" />
                    @for (int i = 0; i < ViewBag.pcontent.Length; i++)
                    {
                        <p>@ViewBag.pcontent[i]</p>
                    }

                </div>

                <div class="link" style="        text-align: left;
        padding-left: 28px;
        margin-bottom: 40px;
        color: #a7a7a7;
        font-size: 14px;
">
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                    <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">作者:@Model.NewsWriter</span><br /><br />
                    <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #ffd800; margin-right: 6px;"></i>
                    <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">关键字:   @Model.NewsKeywords.Replace(',', ' ')</span>
                </div>
            </div>
            </div>
                <hr style="margin-bottom: 50px;">
                <p style="text-align: left;padding-left: 40px;font-size: 1.2em;color: #000000">更多新闻></p>
                
                <!-- 选项卡 -->
                <div id="notice" class="notice">
                    <div id="title" class="title">
                        <ul>
                            <li class="select">
                                <a href="LSHnews/Index/1">社会</a>
                            </li>
                            <li>
                                <a href="/LSHnews/Index/8">国际</a>
                            </li>
                            <li>
                                <a href="/LSHnews/Index/3">科技</a>
                            </li>
                            <li>
                                <a href="/LSHnews/Index/7">娱乐</a>
                            </li>
                            <li>
                                <a href="/LSHnews/Index/9">教育</a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="mod">
                            <ul>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <li>
                                        <a href="/XGJNewsContent/Index/@ViewBag.society[i].NewsId">@ViewBag.society[i].NewsTitle</a>
                                    </li>

                                            }
                                        

                            </ul>
                        </div>
                        <div class="mod" style="display: none;">
                            <ul>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <li>
                                        <a href="/XGJNewsContent/Index/@ViewBag.internaional[i].NewsId">@ViewBag.internaional[i].NewsTitle</a>
                                    </li>
                                                                }
                            </ul>
                        </div>
                        <div class="mod" style="display: none;">
                            <ul>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <li>
                                        <a href="/XGJNewsContent/Index/@ViewBag.technology[i].NewsTitle">@ViewBag.technology[i].NewsTitle</a>
                                    </li>
                                                                }
                            </ul>
                        </div>
                        <div class="mod" style="display: none;">
                            <ul>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <li>
                                        <a href="/XGJNewsContent/Index/@ViewBag.entertainment[i].NewsId">@ViewBag.entertainment[i].NewsTitle</a>
                                    </li>
                                                                }
                            </ul>
                        </div>
                        <div class="mod" style="display: none;">
                            <ul>
                                @for (int i = 0; i < 4; i++)
                                {
                                    <li>
                                        <a href="/XGJNewsContent/Index/@ViewBag.education[i].NewsId">@ViewBag.education[i].NewsTitle</a>
                                    </li>
                                    }
                            </ul>
                        </div>
                    </div>
                </div>
     

        <footer>
            <div class="copyright">©2020新闻网站设计</div>
        </footer>
        <a href="#" id="back-to-top" title="回到顶部">
            <img src="~/Image/XGJImages/rockets.png">
            <!-- <p style="margin-top:-15px;padding: 0;font-size: 14px;color: #000;">回到顶部</p> -->
        </a>
    </div>

    <script src="~/Scripts/home.js" type="text/javascript"></script>

    <script>
        $(function () {
            $("#xxxxmore").click(function () {
                                            var offset = $("#xxxxmore").offset();
                                            m = (offset.left - 80).toString() + "px";
                $(".mybox").css("margin-left", m);
                $(".mybox").slideToggle("slow");
                                        })

            $(window).resize(function () {
                                            var offset = $("#xxxxmore").offset();
                                            m = (offset.left - 80).toString() + "px";
                $(".mybox").css("margin-left", m);
                                        })
        })


    </script>
    <script>
        $(function () {
            var titles = $(".title li");
            var mods = $(".mod");
            var s = 0;
                                    titles.mouseover(function () {
                var index = $(this).index();
                $(this).addClass("select").siblings().removeClass("select");
                                    mods.eq(index).css("display", "block").siblings().css("display", "none");
                                    s = index;
                                    })


            function autoPlay() {
                                        s++;
                                        if (s == mods.length) {
                                            s = 0;
                                        }
                $(".title li").eq(s).addClass("select").siblings().removeClass("select");
                                        mods.eq(s).css("display", "block").siblings().css("display", "none");
                                    }

                                    var t = setInterval(autoPlay, 3000);

                                    titles.hover(function () {
                clearInterval(t);
                                }, function () {
                                    t = setInterval(autoPlay, 3000)
                                });
                                mods.hover(function () {
                                    clearInterval(t);
                                }, function () {
                                    t = setInterval(autoPlay, 3000)
                                });
        });
                                jQuery(document).ready(function ($) {
            $("a.page-btn").click(function (event) {
                                        alert("导出成功！");
                $("#page").wordExport(); //打印id为page的div中的所有内容
                                    });
                                });

    </script>

    <script src="~/Scripts/FileSaver.js"></script>
    <script src="~/Scripts/jquery.wordexport.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")



</body>