@model AspNews.Models.cjl.NewsDb
@{ var ajaxOptions = (AjaxOptions)TempData["AjaxOptions"];
}
@{
    ViewBag.Title = "Index";
}
<title>新闻详情</title>
<link href="~/Scripts/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/news.css">

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<body style=" background: #f5f5f5; background-repeat: repeat; ">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    <li> @Html.ActionLink("新闻目录", "Index", "NewsDbs")</li>
                    <li>@Ajax.ActionLink("初始化数据", "InitNews", "Home", new { }, ajaxOptions, new { @class = "list-group-item" })</li>
                    <li>@Html.ActionLink("新闻具体详情", "Index", "XGJNewsContent")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <div class="newsContent" style=" margin-top: 0px;width:80%">
            <div class="main">
                <div class="link" style="text-align: left;padding-left: 28px;margin-bottom: 40px">
                    <i style="vertical-align: middle; display: inline-block; width: 30px; height:20px; background: #e14040; margin-right: 30px;"></i>
                    <a style="color: #666666; font-size: 20px; height: 20px; line-height: 14px; display: inline-block;" href="../home.html">首页</a> >
                    <a style="color: #666666; font-size: 20px; height: 20px; line-height: 14px; display: inline-block; " href="../entertainment.html">娱乐</a>
                </div>
                <h1 style="font-family: 微软雅黑;font-size: 30px;font-weight: normal;color: #333333">@Model.NewsTitle</h1>

                <hr style="margin: 20px 0">
                <div class="link" style="text-align: left;
        padding-left: 28px;
        margin-bottom: 40px;
        color: #a7a7a7;
        font-size: 14px;
">
                    <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">发布时间:@Model.ReleaseTime | 阅读量:@Model.ReadingNum</span>
                </div>

                <img style="width: 100%;height:auto" src="~/@Model.ImageURL" />
                @for (int i = 0; i < ViewBag.pcontent.Length; i++)
                {
                    <p>@ViewBag.pcontent[i]</p>
                }

            </div>

            <div class="link" style="        text-align: left;
        padding-left: 28px;
        margin-bottom: 40px;
        color: #a7a7a7;
        font-size: 14px;
">
                <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #e14040; margin-right: 6px;"></i>
                <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">作者:@Model.NewsWriter</span><br /><br />
                <i style="vertical-align: middle; display: inline-block; width: 3px; height: 14px; background: #ffd800; margin-right: 6px;"></i>
                <span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">关键字:   @Model.NewsKeywords.Replace(',', ' ')</span>
            </div>


            <hr style="margin-bottom: 50px;">
            <p style="text-align: left;padding-left: 40px;font-size: 1.2em;color: #000000">更多新闻></p>
            <!-- 选项卡 -->
            <div id="notice" class="notice">
                <div id="title" class="title">
                    <ul>
                        <li class="select">
                            <a href="#">要闻</a>
                        </li>
                        <li>
                            <a href="#">体育</a>
                        </li>
                        <li>
                            <a href="#">科技</a>
                        </li>
                        <li>
                            <a href="#">娱乐</a>
                        </li>
                        <li>
                            <a href="#">游戏</a>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <div class="mod">
                        <ul>
                            <li>
                                <a href="http://news.163.com/17/0605/09/CM5J5RQ4000189FH.html">这件事 习近平和你一样一直努力着</a>
                            </li>
                            <li>
                                <a href="http://news.ifeng.com/a/20170605/51196876_0.shtml">第七国！马尔代夫政府宣布与卡塔尔断交</a>
                            </li>
                            <li>
                                <a href="http://www.sohu.com/a/146186450_120809">教育部：高考4大谣言、6大骗局千万别信</a>
                            </li>
                            <li>
                                <a href="#">郭台铭放话：未来电子商务平台可能会消失！</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mod" style="display: none;">
                        <ul>
                            <li>
                                <a href="http://www.thepaper.cn/newsDetail_forward_1700866">勇士19分再胜骑士,季后赛14连胜创纪录!</a>
                            </li>
                            <li>
                                <a href="http://sports.qq.com/a/20170604/001499.htm">欧冠-皇马4-1胜尤文第12次捧杯 C罗梅开二度</a>
                            </li>
                            <li>
                                <a href="http://sports.163.com/17/0605/07/CM5A0V6900058782.html">德约连续八年进法网八强会师蒂姆 拉奥长盘落败</a>
                            </li>
                            <li>
                                <a href="http://sports.qq.com/vo/#/cover/82wx0lgzg172bug/i0023v4qzdi">白岩松专访梅西：阿根廷夺世界杯我剃须</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mod" style="display: none;">
                        <ul>
                            <li>
                                <a href="http://mobile.163.com/17/0605/01/CM4LH40O00118017.html">软硬件更新齐登场 苹果WWDC17新品前瞻</a>
                            </li>
                            <li>
                                <a href="http://tech.163.com/17/0605/09/CM5GSI3E00097U7R.html">顺丰控股：已与菜鸟达成共识 有关事件已妥善解决</a>
                            </li>
                            <li>
                                <a href="http://www.dgtle.com/article-18245-1.html">某文具品牌主理人的EDC</a>
                            </li>
                            <li>
                                <a href="http://www.keke289.com/news/18417.html">618天猫反客为主，京东员工感叹太大力度</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mod" style="display: none;">
                        <ul>
                            <li>
                                <a href="http://ent.163.com/17/0605/12/CM5SP72J000380D0.html">扎克·施奈德力挺《神奇女侠》： "骄傲！"</a>
                            </li>
                            <li>
                                <a href="http://ent.163.com/17/0605/13/CM60CLC500037VVV.html">罗志祥快男现场遭选手吐槽“太业余”</a>
                            </li>
                            <li>
                                <a href="http://app.sun0769.com/mobilesun/dgygw/zx/yl/201706/t20170604_7412757.htm">王心凌内衣外穿秀性感身材 只是脸太僵！</a>
                            </li>
                            <li>
                                <a href="http://ent.163.com/17/0605/14/CM62E3HH00037VVV.html">林更新：和王思聪不是亲戚 “贫富差距”压力大</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mod" style="display: none;">
                        <ul>
                            <li>
                                <a href="http://lpl.qq.com/es/news_detail.shtml?nid=9413">LPL夏季赛赛程公布 揭幕战RNGvsOMG</a>
                            </li>
                            <li>
                                <a href="http://games.qq.com/a/20170605/000135.htm#p=1">魔兽世界回忆录：屠城往事 难以忘怀</a>
                            </li>
                            <li>
                                <a href="http://games.sina.com.cn/ol/n/dlwyxw/2017-06-04/fyfuzmy1648406.shtml">CS：GO Minor 亚洲锦标赛解说与你讲述电竞之路</a>
                            </li>
                            <li>
                                <a href="http://dota2.dj.sina.com.cn/2017-06-02/fyfuzny2463487.shtml">DOTA2震中杯2017开战在即：四大看点罗列</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="copyright">©2020新闻网站设计</div>
        </footer>
        <a href="#" id="back-to-top" title="回到顶部">
            <img src="~/Image/XGJImages/rockets.png">
            <!-- <p style="margin-top:-15px;padding: 0;font-size: 14px;color: #000;">回到顶部</p> -->
        </a>
    </div>



    <script src="~/Scripts/home.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var titles = $(".title li");
            var mods = $(".mod");
            var s = 0;
            titles.mouseover(function () {
                var index = $(this).index();
                $(this).addClass("select").siblings().removeClass("select");
                mods.eq(index).css("display", "block").siblings().css("display", "none");
                s = index;
            })


            function autoPlay() {
                s++;
                if (s == mods.length) {
                    s = 0;
                }
                $(".title li").eq(s).addClass("select").siblings().removeClass("select");
                mods.eq(s).css("display", "block").siblings().css("display", "none");
            }

            var t = setInterval(autoPlay, 3000);

            titles.hover(function () {
                clearInterval(t);
            }, function () {
                t = setInterval(autoPlay, 3000)
            });
            mods.hover(function () {
                clearInterval(t);
            }, function () {
                t = setInterval(autoPlay, 3000)
            });
        })
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>